<script setup>
import Nav from "../components/Navbar/Appnav.vue";
import Blog from "..//components/Blog/blog.vue";
import emblaCarouselVue from "embla-carousel-vue";
import Fill from "..//assets/img/Fill 7.png";
import web1 from "..//assets/img/web rasm 1.png";
import web2 from "../assets/img/web rasm 2.png";

const [emblaRef] = emblaCarouselVue();
</script>

<template>
  <!-- Navbar ---------- -->
  <nav>
    <Nav />
  </nav>

  <!-- Section // -->
  <section>
    <div class="w-[93%] md:h-[590px] rounded-md mx-auto mt-5 flex justify-center">
      <div class="embla" ref="emblaRef">
        <div class="embla__container">
          <div class="embla__slide"><img :src="Fill" alt="" /></div>
          <div class="embla__slide"><img :src="web1" alt="" /></div>
          <div class="embla__slide"><img :src="web2" alt="" /></div>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-[#EDEDED] mx-auto w-[93%] py-8">
    <!-- Search category -->

    <div class="w-full flex justify-center px-12 items-center">
      <input type="search" placeholder="search" class="w-[750px] mr-12 bg-[#E5E5E5] rounded-md" />
      <select class="w-[312px] bg-[#E5E5E5] rounded-md text-center text-lg flex justify-center">
        <option value="">Following</option>
        <option value="">Following</option>
        <option value="">Following</option>
        <option value="">Following</option>
      </select>
    </div>

    <!--  malumotlar bloglari --- Following-->
    <div class="p-5 border-2 m-8 rounded-md">
      <p class="text-[#25D055] text-xl">Following</p>
      <div class="flex xl:justify-between justify-center gap-5 items-center flex-wrap">
        <Blog />
        <Blog />
        <Blog />
      </div>
    </div>

    <!--  malumotlar bloglari --- Trending-->
    <div class="p-5 border-2 m-8 rounded-md">
      <p class="text-[#25D055] text-xl">Trending</p>
      <div class="flex xl:justify-between justify-center gap-5 items-center flex-wrap">
        <Blog />
        <Blog />
        <Blog />
      </div>
    </div>
  </div>

  <!-- Footer top qism -- -->

  <div class="w-[93%] my-10 rounded-[30px] mx-auto h-[109px] bg-[#38A3A5] flex justify-center items-center">
    <p class="text-5xl font-bold">
      Do You Want to Write a <span class="text-white">Blog?</span>
    </p>
    <button
      class="bg-[#57CC99] text-white text-3xl hover:bg-[#219a65] active:scale-95 font-bold ml-12 w-[285px] h-[60px] rounded-full">
      Write Now <i class="bx bx-right-arrow-alt" style="color: #ffffff"></i>
    </button>
  </div>

  <!-- Footer qismla ------ -->
  <div class="w-[93%] my-10 rounded-[30px] mx-auto h-[109px] bg-[#38A3A5] flex justify-center items-center">
      
  </div>
   

</template>

<style scoped>
.embla {
  overflow: hidden;
  width: 100%;
  text-align: center;
  border-radius: 15px;
}

.embla__container {
  display: flex;
  width: 100%;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  border-radius: 15px;
}

img {
  width: 100%;
  border-radius: 15px;
}

.slider-buttons {
  position: absolute;
  display: flex;
  top: 100%;
  justify-content: flex-end;
  width: 100%;
  padding-top: 8px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  position: relative;
  margin-left: 4px;
}

.swiper-button-next:before,
.swiper-button-prev:before {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.2s;
}

.swiper-button-next:hover:before,
.swiper-button-prev:hover:before {
  width: 100%;
}

.socials {
  position: fixed;
  top: 12px;
  right: 16px;
  display: flex;
  align-items: center;
}

.socials .social-link {
  display: inline-block;
  margin-left: 8px;
  color: #fff;
}

@media screen and (max-width: 520px) {

  .swiper-button-next:hover:before,
  .swiper-button-prev:hover:before {
    display: none;
  }
}
</style>
