<script setup>
import BlogPn from "..//../assets/img/BLOG.png";
import Avatar from "..//..//assets/img/avatar.png";
</script>
<template>
  <nav class="bg-white dark:bg-gray-900 md:px-0 px-4 dark:border-gray-700">
    <div class="max-w-screen-xl flex justify-between mx-auto p-4">
      <div class="flex justify-between flex-wrap mr-5 items-center w-full">
        <!-- logo --- -->
        <img :src="BlogPn" class="w-32" />
        <!-- / logo --- -->
        <button
          data-collapse-toggle="navbar-dropdown"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-dropdown"
          aria-expanded="false"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>

        <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
          <ul
            class="flex items-center flex-col font-medium p-2 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
          >
            <li
              class="swiper-button-prev py-2 px-3 text-[#22577A] rounded md:bg-transparent md:p-0"
            >
              Home
            </li>
            <li
              class="swiper-button-prev py-2 px-3 text-[#22577A] rounded md:bg-transparent md:p-0"
            >
              Following
            </li>
            <li
              class="swiper-button-prev py-2 px-3 text-[#22577A] rounded md:bg-transparent md:p-0"
            >
              Trending
            </li>
            <li
              class="swiper-button-prev py-2 px-3 text-[#22577A] rounded md:bg-transparent md:p-0"
            >
              Newbies
            </li>
          </ul>
        </div>
      </div>
      <!-- ---------------- Avatarka -->
      <div class="ml-5">
        <img
          id="avatarButton"
          type="button"
          data-dropdown-toggle="userDropdown"
          data-dropdown-placement="bottom-start"
          class="w-10 h-10 rounded-full cursor-pointer"
          :src="Avatar"
        />
        <!-- Dropdown menu -->
        <div>
          <div
            id="userDropdown"
            class="z-10 hidden bg-white px-4 py-3 text-sm text-gray-900 dark:text-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
          >
            <div>Avatar</div>
            <div class="font-medium truncate">.com</div>
          </div>
        </div>
      </div>
      <!-- --------------- / Avatarka -->
    </div>
  </nav>
</template>

<style scoped>
.swiper-button-prev {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  margin-left: 4px;
}

.swiper-button-prev:before {
  content: "";
  position: absolute;
  background-color: rgb(3, 7, 230);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.2s;
}

.swiper-button-prev:hover:before {
  width: 100%;
}
</style>
