<script setup></script>

<template>
  <div class="w-[348px] h-auto rounded-xl bg-white mt-3 hover:shadow-xl">
    <img src="..//../assets/img/Rectangle 31.png" alt="" />
    <div class="flex px-4 my-3 justify-between">
      <p class="text-xl font-bold">Title Blog</p>
      <p>08.05.2024</p>
    </div>
    <button
      class="px-4 ml-3 rounded-full bg-[#57CC99] font-bold flex items-center p-1"
    >
      development
    </button>
    <p class="m-4 text-[#1A1A1A]">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <hr class="w-[90%] mx-auto" />
    <div class="flex justify-end gap-3 m-3">
      <p class="flex items-center gap-1 text-sm">
        <i class="bx bxs-comment text-2xl cursor-pointer" style="color: #807e7e"></i>12
      </p>
      <p class="flex items-center gap-1 text-sm">
        <i class="bx bxs-like text-2xl cursor-pointer" style="color: #807e7e"></i>41
      </p>
    </div>
  </div>
</template>

<style></style>
