<template >
  <div class="conteiner">
    <div class="xl:px-20 lg:px-10 md:px-5 sm:px-2">
    <HomeView />
  </div>
  </div>
</template>

<script setup>
import HomeView from './views/HomeView.vue';
</script>
